
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;justify-content: space-around;
}
footer span{
    font-size: 30px;
    font-weight: 900;
    color: rgb(65, 153, 236);
}
footer .option{
    display: flex;
    gap: 25px;

}
.option a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.option a:hover{
    color: rgb(65, 153, 236);
}