section{
    display: flex;
    background-image:linear-gradient(#50505085,#50505085), url(../../../assets/sugar-loaf-pao-de-acucar-1679277.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}
section .back{
    background-image:linear-gradient(#50505085,#50505085), url(../../../assets/copacabana-beach-65598.jpg);
}
section h1{
    color: white;
    font-size: 45px;
    font-weight: 900;
    width: 50%;
    margin-left: 12%;
    
}
section p{
    color: white;
    margin-left: 12%;
    margin-bottom: 5%;
    font-size: 18px;
}
section .btn-group{
    display: flex;
    margin-left: 12%;
    margin-bottom: 5%;
    gap: 25px;
}
.btn-group button{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 15px 35px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    background-color: transparent;
    cursor: pointer;
}
.btn-group button:hover{
    background-color: white;
    color: rgb(65, 153, 236);
}